.about {
  color: #444;
  text-align: left;
  margin: 0 auto;
  min-width: 60rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-family: 'Assistant';

  @media only screen and (max-width: $bp-small) {
    min-width: 0;
    text-align: left;
    align-items: flex-start;
  }

  &__title {
    font-family: 'Rubik';
    font-size: 5rem;
    font-weight: 400;
    margin: 2rem;

    @media only screen and (max-width: $bp-small) {
      font-size: 5rem;
    }
  }
  &__subtitle {
    max-width: 60rem;
    text-align: left;
    font-size: 2.5rem;
    font-weight: 400;
    margin: 2rem;

    strong {
      font-weight: 600;
    }

    &--divider {
      height: 1.5rem;
      width: 100%;
    }

    @media only screen and (max-width: $bp-small) {
      font-size: 2.2rem;
    }
  }

  &__link {
    font-weight: 600;
    padding: 0 0.5rem;
    transition: all 0.2s;

    &:hover {
      background-color: whitesmoke;
    }
  }

  &__button {
    align-self: center;
    color: #444;
    background: none;
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 1.7rem;
    display: block;
    border: 4px solid #444;
    padding: 1rem;
    margin: 2rem;
    outline: none;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      color: #fff;
      background-color: #444;
    }
  }
}
