.footer {
  border-top: 1px solid rgba(lightgrey, 0.3);
  padding: 2rem 0;
  margin-top: 2rem;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;

  @media only screen and (max-width: $bp-large) {
    padding: 1rem;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}

.footer__contactme {
  margin-top: 1rem;
  font-weight: 700;
}
.footer__myemail {
  font-size: 2rem;
  font-weight: 400;
  text-transform: none;
}

.footer__social {
  margin-top: 0.5rem;
  font-size: 3rem;

  span {
    margin-right: 1rem;
  }
}

.footer__copyright {
  margin-top: 2rem;
  align-self: flex-end;
  text-align: right;

  @media only screen and (max-width: $bp-smallest) {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
}
