.header {
  display: grid;
  grid-template-rows: 8rem;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  font-size: 1.7rem;
  font-family: 'Assistant';
  font-weight: 700;
  padding-top: 1rem;

  @media only screen and (max-width: $bp-large) {
    padding: 1rem 0;
  }

  @media only screen and (max-width: $bp-smallest) {
    padding: 1rem 2rem;
  }

  &__brand {
    display: flex;
    align-items: center;
    font-family: 'Righteous';
    font-weight: 400;

    span {
      display: block;
      border: 4px solid;
      padding: 1rem;
    }
  }

  &__nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;

    @media only screen and (max-width: $bp-small) {
    }

    &__link {
      margin: 0 2rem;
      letter-spacing: 1.3px;
      line-height: 1;
      text-transform: uppercase;

      a.selected {
        border-bottom: 2px solid;
      }

      &:hover > a {
        border-bottom: 2px solid;
      }
    }
  }

  &__mobilenav {
    display: none;

    @media only screen and (max-width: $bp-small) {
      position: absolute;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 10;
      background-color: rebeccapurple;
      height: 100vh;
      width: 100%;
      list-style: none;

      &__link {
        font-size: 4rem;
        margin: 0 2rem;
        letter-spacing: 1.3px;
        line-height: 1.5;
        text-transform: uppercase;
      }
    }
  }
}
